h3{
    color: cornflowerblue;
}

.h1-text{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

#h1-id{
    color: olivedrab;
    font-weight: lighter;
}

#img1{
    position: absolute;
    top: 50px;
    left: 50px;
}

#img2{
    position: relative;
    top: 150px;
}

.float-example{
    float: left;
    color: orchid;
    border: 3px orchid;
    padding: 10px;
}

.float-example2{
    float: none;
}

.box {
	position: fixed;
	top: 500px;
	left: -315px;
	width: 310px;
    height: 105px;
    background: cornflowerblue;
	transition: all 0.3s linear;
}

.box-text { 
	margin-left: 120px;
	padding-top: 16px;
}

.box-text2 {
	position: absolute;
	right: -70px;	
    display: inline-block;
    padding: 3px 5px 3px 8px;
	color: #000000;
    background: #FFCC00;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;	
	transform: rotate(-90deg);
}

.box:hover {
	transition-duration: 0.6s;
    transform: translateX(315px);
} 